stepFunction/step_function_definition.json
{
  "Comment": "Orquestación de Pedidos - Proyecto Burger King",
  "StartAt": "ProcesarPedido",
  "States": {
    "ProcesarPedido": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "TimeoutSeconds": 900,
      "Parameters": {
        "FunctionName": "burger-king-step-function-dev-procesarPedido",
        "Payload": {
          "taskToken.$": "$$.Task.Token",
          "input.$": "$"
        }
      },
      "Catch": [
        {
          "ErrorEquals": ["States.Timeout"],
          "ResultPath": "$.error",
          "Next": "PedidoFallido"
        }
      ],
      "Next": "PedidoEnCocina"
    },
    "PedidoEnCocina": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "TimeoutSeconds": 900,
      "Parameters": {
        "FunctionName": "burger-king-step-function-dev-pedidoEnCocina",
        "Payload": {
          "taskToken.$": "$$.Task.Token",
          "input.$": "$"
        }
      },
      "Catch": [
        {
          "ErrorEquals": ["States.Timeout"],
          "ResultPath": "$.error",
          "Next": "PedidoFallido"
        }
      ],
      "Next": "EvaluarCocina"
    },
    "EvaluarCocina": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "RECHAZADO",
          "Next": "ReintentarCocina"
        }
      ],
      "Default": "CocinaCompleta"
    },
    "ReintentarCocina": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "burger-king-step-function-dev-reintentarCocina",
        "Payload": {
          "input.$": "$"
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Next": "EvaluarReintentoCocina"
    },
    "EvaluarReintentoCocina": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.retry_count",
          "NumericLessThanEquals": 3,
          "Next": "PedidoEnCocina"
        }
      ],
      "Default": "PedidoFallido"
    },
    "CocinaCompleta": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "TimeoutSeconds": 900,
      "Parameters": {
        "FunctionName": "burger-king-step-function-dev-cocinaCompleta",
        "Payload": {
          "taskToken.$": "$$.Task.Token",
          "input.$": "$"
        }
      },
      "Catch": [
        {
          "ErrorEquals": ["States.Timeout"],
          "ResultPath": "$.error",
          "Next": "PedidoFallido"
        }
      ],
      "Next": "Empaquetado"
    },
    "Empaquetado": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "TimeoutSeconds": 900,
      "Parameters": {
        "FunctionName": "burger-king-step-function-dev-empaquetado",
        "Payload": {
          "taskToken.$": "$$.Task.Token",
          "input.$": "$"
        }
      },
      "Catch": [
        {
          "ErrorEquals": ["States.Timeout"],
          "ResultPath": "$.error",
          "Next": "PedidoFallido"
        }
      ],
      "Next": "Delivery"
    },
    "Delivery": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "TimeoutSeconds": 900,
      "Parameters": {
        "FunctionName": "burger-king-step-function-dev-delivery",
        "Payload": {
          "taskToken.$": "$$.Task.Token",
          "input.$": "$"
        }
      },
      "Catch": [
        {
          "ErrorEquals": ["States.Timeout"],
          "ResultPath": "$.error",
          "Next": "PedidoFallido"
        }
      ],
      "Next": "EvaluarDelivery"
    },
    "EvaluarDelivery": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "RECHAZADO",
          "Next": "ReintentarDelivery"
        }
      ],
      "Default": "Entregado"
    },
    "ReintentarDelivery": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "burger-king-step-function-dev-reintentarDelivery",
        "Payload": {
          "input.$": "$"
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Next": "EvaluarReintentoDelivery"
    },
    "EvaluarReintentoDelivery": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.retry_count",
          "NumericLessThanEquals": 3,
          "Next": "Delivery"
        }
      ],
      "Default": "PedidoFallido"
    },
    "Entregado": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "TimeoutSeconds": 900,
      "Parameters": {
        "FunctionName": "burger-king-step-function-dev-entregado",
        "Payload": {
          "taskToken.$": "$$.Task.Token",
          "input.$": "$"
        }
      },
      "Catch": [
        {
          "ErrorEquals": ["States.Timeout"],
          "ResultPath": "$.error",
          "Next": "PedidoFallido"
        }
      ],
      "Next": "EntregaCompleta"
    },
    "EntregaCompleta": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "burger-king-step-function-dev-entregaCompleta",
        "Payload": {
          "input.$": "$"
        }
      },
      "End": true
    },
    "PedidoFallido": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "burger-king-step-function-dev-pedidoFallido",
        "Payload": {
          "input.$": "$"
        }
      },
      "End": true
    }
  }
}